{% extends "inventory/base.html" %}
{% block content %}
<h3>History</h3>
<table class="table table-striped mt-3">
  <tr><th>Asset</th><th>Target</th><th>Loan</th><th>Due</th><th>Return</th></tr>
  {% for l in loans %}
    <tr class="{% if l.return_date is None and l.due_date and l.due_date < today %}table-danger{% endif %}">
      <td>{{ l.asset }}</td>
      <td>{{ l.target_label }}</td>
      <td>{{ l.loan_date }}</td>
      <td>{{ l.due_date|default:"-" }}</td>
      <td>{{ l.return_date|default:"-" }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
